<h1>About</h1>

<p>Repository for Bulletin Board apps for Sugiyama Global Laboratory and PHARUMO,Inc. </p>

written in Ruby v 2.4.4 on Rails 4.2.8

Features:

Able to create multiple threads
Able to view the thread list
Able to post comments on threads
Able to see comment list
Implement the login function.
User registration is possible.
(+)Administrator account to control other user's thread.</p>

<%= link_to 'Home', root_path %>