<h1>About</h1>

<p>Bulletin Board apps developed for Sugiyama Global Laboratory and PHARUMO,Inc. </p>

<p>Developed with Ruby v 2.4.4 on Rails 4.2.8</p>

<h4>Features:</h4>
<ul>
<li>Able to create multiple threads.</li>
<li>Able to view the thread list.</li>
<li>Able to post comments on threads.</li>
<li>Able to see comment list.</li>
<li>Implement the login function.</li>
<li>User registration is possible.</li>
<li>(+)Administrator account to control other user's thread.</li>
</ul>
<%= link_to 'Back to Homepage', root_path %>